* {
    border: none;
    border-radius: 0;
    font-family: "Liberation Mono";
    min-height: 20px;
}

/* Window */
window#waybar {
    background: transparent;
}
window#waybar.hidden {
    opacity: 0.2;
}

/* Workspaces */
#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    background: #383c4a;
    transition: none;
}
#workspaces button {
    color: #7c818c;
    background: transparent;
    padding: 5px;
    font-size: 18px;
    transition: none;
}
#workspaces button.persistent {
    color: #7c818c;
    font-size: 12px;
}
#workspaces button:hover {
    color: #383c4a;
    background: #7c818c;
    border-radius: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
    transition: none;
}
#workspaces button.active {
    color: white;
}

/* Custom modules */
#custom-dnf,
#custom-flatpak,
#pulseaudio,
#custom-network,
#custom-nordvpn,
#custom-day,
#clock,
#custom-weather,
#custom-mem,
#custom-cpu,
#temperature,
#backlight,
#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    color: #ffffff;
    background: #383c4a;
    transition: none;
}

/* Pulseaudio muted */
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

/* Temperature critical */
#temperature.critical {
    background-color: #eb4d4b;
}

/* Battery states */
#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}
#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
